token: token here
prefix: "prefix here"
support-server: support server here
botlog: start channel id here
ownerids: [owner ids here separated by commas]
timezone: "Timezone here (https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)"
botname: 'Bot name here'
welcome: 'welcome channel name here'
bye: 'bye channel name here'
os: 'windows or linux (mac not tested)'
modlog: '<mod log name here!'
support-server-modlogs: support server modlogs id here
muterole: 'muted role name here'
support-server-muterole: support server role id here